@use 'variables' as *;
@use 'mixins' as *;

/*==============================
=          Placeholders        =
==============================*/

%font-ui-body-sm {
  @include font-size(14px);
  line-height: 1.35;
}

%font-ui-body-md {
  @include font-size(16px);
  line-height: 1.35;
}

%font-ui-body-sm-bold {
  @include font-size(14px);
  line-height: 1.35;
}

%font-ui-body-md-bold {
  @include font-size(16px);
  line-height: 1.35;
}

%font-ui-text-sm {
  font-family: $font-barlow;
  font-weight: 400;
  @include font-size(14px);
  line-height: 1.14;
}

%font-ui-text-md {
  @include font-size(16px);
  line-height: 1.14;
}

%font-ui-text-lg {
  @include font-size(18px);
  line-height: 1.14;
}

%font-ui-text-md-bold {
  @include font-size(16px);
  font-weight: 700;
  line-height: 1.15;
}

%font-ui-text-lg-bold {
  @include font-size(18px);
  font-weight: 700;
  line-height: 1.14;
}

%font-ui-text-xlg-bold {
  font-family: $font-barlow;
  font-weight: 700;
  @include font-clamp(20px, 22px);
  line-height: 1.29;
}

%font-ui-text-sm-uppercase {
  font-family: $font-barlow;
  font-weight: 500;
  @include font-size(14px);
  line-height: 1.14;
  text-transform: uppercase;
}

%font-ui-text-sm-bold-uppercase {
  font-family: $font-barlow;
  font-weight: 700;
  @include font-size(14px);
  line-height: 1;
  text-transform: uppercase;
}

%font-ui-text-md-bold-uppercase {
  @include font-size(16px);
  line-height: 1.35;
  text-transform: uppercase;
}

%font-ui-text-lg-bold-uppercase {
  font-family: $font-barlow;
  font-weight: 700;
  @include font-size(18px);
  line-height: 1.14;
  text-transform: uppercase;
}

%font-ui-text-md-bold-barlow {
  font-family: $font-barlow;
  font-weight: 700;
  @include font-size(16px);
  line-height: 1.14;
}

%font-ui-text-md-bold-uppercase-barlow {
  font-family: $font-barlow;
  font-weight: 700;
  @include font-size(16px);
  line-height: 1.35;
  text-transform: uppercase;
}

%font-ui-text-emphasis {
  font-family: $font-barlow;
  font-weight: 600;
  @include font-size(56px);
  line-height: 0.8;
}

%font-ui-page-title-sm {
  font-family: $font-barlow;
  font-weight: 400;
  @include font-clamp(36px, 42px);
  line-height: 1.14;
}

%font-ui-page-title-lg {
  font-family: $font-barlow;
  font-weight: 700;
  @include font-clamp(36px, 53px);
  line-height: 1.14;
}

%font-ui-section-heading-xsm-uppercase {
  font-family: $font-barlow;
  font-weight: 500;
  @include font-size(14px);
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

%font-ui-section-heading-sm {
  font-family: $font-barlow;
  font-weight: 400;
  @include font-size(17px);
  line-height: 1.14;
}

%font-ui-section-heading-md {
  font-family: $font-barlow;
  font-weight: 400;
  @include font-size(24px);
  line-height: 1.14;
}

%font-ui-section-heading-lg {
  font-family: $font-barlow;
  font-weight: 400;
  @include font-size(30px);
  line-height: 1.14;
}

%font-ui-headline-sm {
  font-family: $font-barlow-condensed;
  font-weight: 600;
  @include font-size(17px);
  line-height: 1.14;
}

%font-ui-headline-md {
  font-family: $font-barlow-condensed;
  font-weight: 500;
  @include font-clamp(22px, 24px);
  line-height: 1.14;
}

%font-ui-headline-lg {
  font-family: $font-barlow-condensed;
  font-weight: 600;
  @include font-clamp(26px, 30px);
  line-height: 1.14;
}

%font-copy-body-short-md {
  @include font-size(16px);
  line-height: 1.5;
}

%font-copy-body-short-lg {
  @include font-size(17px);
  line-height: 1.35;
}

%font-copy-body-short-lede {
  @include font-size(20px);
  line-height: 1.35;
}

%font-copy-body-long-lg {
  @include font-size(19px);
  line-height: 1.6;
}

%font-copy-body-list-md {
  @include font-size(16px);
  line-height: 1.14;
}

%font-copy-body-list-lg {
  @include font-size(18px);
  line-height: 1.35;
}

%font-copy-quote-sm {
  font-family: $font-barlow;
  font-weight: 600;
  @include font-size(18px);
  line-height: 1.5;
}

%font-copy-quote-lg {
  font-family: $font-barlow;
  font-weight: 600;
  @include font-size(20px);
  line-height: 1.35;
}

%font-copy-heading-2 {
  font-family: $font-barlow;
  font-weight: 600;
  @include font-clamp(30px, 40px);
  line-height: 1.14;
}

%font-copy-heading-3 {
  font-family: $font-barlow;
  font-weight: 600;
  @include font-clamp(26px, 32px);
  line-height: 1.14;
}

%font-copy-heading-4 {
  font-family: $font-barlow;
  font-weight: 400;
  @include font-clamp(24px, 28px);
  line-height: 1.14;
}

%font-copy-heading-5 {
  @include font-size(20px);
  line-height: 1.14;
}

%font-copy-heading-6 {
  @include font-size(18px);
  line-height: 1.14;
}

%font-body-short-sm {
  @include font-size(14px);
  line-height: 1.35;
}
