@use 'abstracts' as *;

:root {
  /* stylelint-disable-next-line*/
  --scrollbar: 0px;
  --header-height: 72px;
  --logo-height: 48px;
  --event-block-height: 112px;
  --color-nav-resource: #{$color-primary-blue-400};
  --color-nav-analysis: #{$color-primary-green-400};
  --color-nav-events: #{$color-primary-yellow-400};
  --color-nav-transitions: #{$color-gradient-purple};
  --color-nav-jti: #{$color-primary-green-600};
  --nav-border-color: var(--color-nav-resource);
  --page-header-bg: #{$color-primary-blue-700};

  @include breakpoint('large') {
    --header-height: 96px;
    --logo-height: 76px;
  }
}

*:focus {
  outline: 1px solid #f00;
}

html,
body {
  overflow-x: hidden;
}

.container {
  --container-padding: 6vw;

  position: relative;
  max-width: $size__container-max-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: 6vw;
  padding-right: var(--container-padding);
  padding-left: 6vw;
  padding-left: var(--container-padding);

  @include breakpoint(xxlarge) {
    --container-padding: #{rem(80)};
  }
}
