@use '../abstracts' as *;

.blog {
  --page-header-bg: var(--page-header-analysis);
  .entry__content {
    padding-bottom: rem(56px);
  }
}

.post-type-archive-event {
  --page-header-bg: var(--page-header-events);
}
