@use '../abstracts' as *;
@use '../components/footnotes';

.single {
  &__header {
    background: $color-gradient-green;
  }
}

.post {
  &__authors {
    color: $color-black-100;

    .heading {
      @extend %font-ui-section-heading-lg;

    }

    &-name {
      @extend %font-ui-section-heading-md;
    }

    &-author {
      @extend %font-ui-body-md;
    }

    &-learn-more {
      @extend %font-ui-text-sm-uppercase;
      color: $color-primary-blue-400;
    }
  }
}
