@use '../abstracts' as *;

.post-type-archive-resource-library {
  background: $color-gray-100;

  .entry-header {
    margin-bottom: 0;
  }
}

.resource-library {
  &__content {
    @include breakpoint('large') {
      display: grid;
      grid-template-columns: minmax(auto, 300px) auto;
      justify-content: space-between;
      column-gap: 8%;
    }

    @include breakpoint('xlarge') {
      column-gap: 4%;
    }
  }

  &__secondary {
  }

  &__subheading {
    margin: 0 0 rem(8);
    color: $color-black-170;
    @extend %font-ui-text-sm-bold-uppercase;
    letter-spacing: 0.5px;
  }
}

.filters-overview {
  color: $color-black-155;
  @extend %font-ui-text-md;

  .is-highlighted {
    color: $color-black-190;
    @extend %font-ui-text-md-bold-barlow;
  }

  &__totals {
    display: flex;
  }
}

.btn {
  &--filters {
    margin-top: rem(12);
    margin-bottom: rem(12);
  }

  &--reset {
    display: block;
    padding: rem(8);
    color: $color-black-155;
    @extend %font-ui-text-sm;
    background: transparent;
    border: 0;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    appearance: none;

    &:hover {
      color: $color-black-190;
    }
  }
}
