@use '../abstracts' as *;
@use '../components/explore-resource-widget';
@use '../components/feedback';
@use '../components/post-alignments';
@use '../components/post-typography';
@use '../blocks/download-button';
@use '../blocks/gray-section';
@use '../blocks/jti-team';

.page {
  &--about_jti {
    --page-header-bg: var(--page-header-jti);
  }

  &--transitions {
    --page-header-bg: var(--page-header-transitions);
  }
}

.single {
  &-post {
    --page-header-bg: var(--page-header-analysis-post);
  }

  &-event {
    --page-header-bg: var(--page-header-events-post);
  }

  &__content,
  &__footer {
    max-width: $size__content-max-width;
    margin-right: auto;
    margin-left: auto;
  }

  &__footer {
    clear: both;
  }
}
