@use 'abstracts' as *;

.header {
  height: var(--header-height);

  &__logo {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    
    svg {
      width: auto;
      height: var(--logo-height);
      transition: filter 0.3s ease-in-out;
    }

  }
}

.site-nav {
  float: right;
  height: 100%;
  padding-right: 80px;

  ul {
    display: flex;
    height: 100%;

    li {
      position: relative;
      display: flex;
      align-items: flex-end;
      height: 50%;
      margin: 0 12px 12px;
      @extend %font-ui-text-lg-bold;
      color: $color-black-155;

      &.active {
        border-top-width: 3px; 
        border-top-style: solid;
        border-top-color: var(--borderTopColor);
      }

      &:hover {
        color: $color-black-100;
      }
    }

    .search {
      display: none;
      visibility: hidden;
    }  
  }
}    
