@use '../abstracts' as *;

.btn {
  display: inline-flex;
  align-items: center;
  padding: rem(8) rem(16);
  @extend %font-ui-text-sm-uppercase;
  color: $color-white-190;
  text-align: center;
  text-transform: uppercase;
  background: $color-primary-blue-400;
  border: 1px solid $color-primary-blue-400;
  border-radius: 2px;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out,
    border 0.3s ease-in-out, filter 0.3s ease-in-out;

  &:hover {
    color: $color-white-190;
    background: $color-primary-blue-200;
    filter: $shadow--3;

    .icon {
      color: $color-white-190;
    }
  }

  &:not([disabled]) {
    cursor: pointer;
  }

  &[disabled] {
    cursor: not-allowed;
  }

  &--outline {
    color: $color-primary-blue-300;
    background: transparent;
    border: 1px solid $color-primary-blue-500;

    &:hover {
      border: 1px solid $color-primary-blue-200;
    }
  }

  &--round {
    border-radius: 50px;
  }

  &--circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 50%;
  }

  .icon {
    &:first-child {
      margin-right: rem(4);
    }

    &:last-child {
      margin-left: rem(4);
    }
  }
}
