@use 'abstracts' as *;

.event-date {
  --meta-date: #{$color-white-100};
  --event-year: #{$color-primary-green-700};
  width: 120px;
  height: 120px;
  padding: rem(12) rem(16);
  background: var(--event-bg, $color-primary-green-400);
  box-shadow: $shadow--4;

  .post-block--event & {
    --meta-date: #{$color-primary-green-300};
    --event-bg: #{$color-gray-400};
    --event-year: #{$color-primary-green-600};
  }

  // display: grid;
  // grid-area: secondary-content;
  // grid-template-columns: 1fr 4fr;
  // grid-template-rows: repeat(auto-fit, minmax(10px, 100px));
  // height: var(--event-block-height);
  // column-gap: 32px;

  // &::before {
  //   display: none;

  //   @include breakpoint(large) {
  //     position: absolute;
  //     top: 92px;
  //     left: 65%;
  //     display: block;
  //     content: '';
  //     height: 100%;
  //     border-left: 1px solid $color-white-155;
  //   }
  // }

  &__month {
    @extend %font-ui-text-lg-bold;
    text-transform: uppercase;
  }

  &__day {
    @extend %font-ui-text-emphasis;
    margin-bottom: rem(12);
  }

  &__year {
    color: var(--event-year);
    @extend %font-ui-text-md-bold;
  }
}
