@use 'abstracts' as *;

.single__header {
  position: relative;
  max-height: 400px;
  padding-top: var(--header-height);
  padding-bottom: rem(64);
  color: $color-white-190;
  background: var(--page-header-bg);
  @include full-width-background(var(--page-header-bg));

  &-wrapper {
    display: grid;
    grid-template-columns: 61% 4% 35%;
    grid-template-rows: auto 300px;
  }

  &-content {
    grid-column: 1;
    grid-row: 2;
    margin-top: rem(40);
  }

  &-title {
    position: relative;
    z-index: 2;
    grid-column: 1;
    grid-row: 2;
    @extend %font-ui-page-title-lg;
    margin-bottom: rem(4);
  }

  &-subtitle {
    z-index: 2;
    grid-column: 1;
    grid-row: 2;
    @extend %font-ui-text-xlg-bold;
    margin-bottom: rem(16);
  }

  &-description {
    grid-column: 1;
    grid-row: 2;
    @extend %font-ui-body-md;
    margin-bottom: rem(12);
  }

  &-excerpt {
    grid-column: 1;
    grid-row: 2;
    @extend %font-ui-body-md;
    margin-bottom: rem(12);
  }

  .post-meta__date {
    grid-column: 1;
    grid-row: 2;
  }

  /* stylelint-disable-next-line */
  .a2a_kit {
    display: flex;
    grid-column: 3;
    grid-row: 1;
    justify-content: flex-end;
    margin-top: 2rem;
  }

  .featured-media {
    grid-column: 3;
    grid-row: 2;
    margin: rem(40) 0 0 rem(24);

    img {
      height: 300px;
    }
  }

}
