@use 'abstracts' as *;

.single__header {
  position: relative;
  display: grid;
  grid-template-areas:
    'social-share'
    'category'
    'title'
    'subtitle'
    'desc'
    'date'
    'right-content'
    'caption';
  width: 100%;
  min-height: 300px;
  margin-bottom: rem(64);
  padding-top: var(--header-height);
  padding-bottom: rem(24);
  color: $color-white-190;
  background: var(--page-header-bg);
  @include full-width-background(var(--page-header-bg));

  @include breakpoint(large) {
    grid-template-areas:
      '. social-share'
      'category right-content'
      'title right-content'
      'subtitle right-content'
      'desc right-content'
      'date right-content'
      '. right-content'
      '. caption';
    grid-template-columns: 2fr 1fr;
    grid-template-rows:
      max-content minmax(0, max-content) max-content minmax(0, max-content)
      auto;
    column-gap: rem(24);
  }

  .post-meta__categories {
    grid-area: category;
    @extend %font-ui-text-md-bold-uppercase-barlow;

    &::after {
      content: '';
      display: block;
      width: 4%;
      border-bottom: 3px solid $color-white-155;
    }
  }

  &-title {
    position: relative;
    grid-area: title;
    @extend %font-ui-page-title-lg;
    margin-bottom: rem(4);
    padding-top: rem(12);
  }

  &-subtitle {
    grid-area: subtitle;
    @extend %font-ui-text-xlg-bold;
    margin-bottom: rem(16);
  }

  &-description {
    grid-area: desc;
    @extend %font-ui-body-md;
    margin-bottom: rem(12);
  }

  &-excerpt {
    grid-area: desc;
    @extend %font-ui-body-md;
    margin-bottom: rem(12);
  }

  .post-meta__date {
    grid-area: date;
    margin-bottom: rem(24);

    @include breakpoint(large) {
      margin-bottom: rem(40);
    }
  }

  /* stylelint-disable-next-line */
  .a2a_kit {
    display: flex;
    grid-area: social-share;
    justify-content: center;
    margin: rem(32) 0 rem(40);

    @include breakpoint(large) {
      justify-content: flex-end;
    }
  }

  .post-block__img {
    position: relative;
    grid-area: right-content;
    align-self: end;
    margin-bottom: rem(-40);

    img {
      height: 300px;
    }

    &::before {
      display: none;

      @include breakpoint(large) {
        position: absolute;
        top: -20px;
        bottom: 0;
        left: -20px;
        display: block;
        content: '';
        border-left: 1px solid $color-white-155;
      }
    }
  }

  &-icon {
    grid-area: date;
    @extend %font-ui-body-md;

    .icon {
      position: relative;
      top: 3px;
      display: inline-block;
      margin-right: rem(12);
      fill: $color-white-100;
    }
  }
}
