@use 'abstracts' as *;

.single__header {
  position: relative;
  min-height: 300px;
  padding-top: var(--header-height);
  color: $color-white-190;
  background: var(--page-header-bg);
  // background: lightblue;
  margin-bottom: rem(64);
  @include full-width-background(var(--page-header-bg));
  display: grid;
  grid-template-areas:
  'social-share'
  'category'
  'title'
  'subtitle'
  'desc'
  'date'
  'right-content'
  'caption';
  width: 100%;
    
  @include breakpoint(large) {
    grid-template-areas:
    '. social-share'
    'category right-content'
    'title right-content'
    'subtitle right-content'
    'desc right-content'
    'date right-content'
    '. right-content'
    '. caption';
    grid-template-columns: 2fr 1fr;
    column-gap: rem(24);
    grid-template-rows: max-content  minmax(0, max-content) max-content minmax(0, max-content) auto;
  }

  .post-meta__categories {
    grid-area: category;
    @extend %font-ui-text-md-bold-uppercase-barlow;
  }

  &-title {
    position: relative;
    grid-area: title;
    @extend %font-ui-page-title-lg;
    margin-bottom: rem(4);
  }

  &-subtitle {
    grid-area: subtitle;
    @extend %font-ui-text-xlg-bold;
    margin-bottom: rem(16);
  }

  &-description {
    grid-area: desc;;
    @extend %font-ui-body-md;
    margin-bottom: rem(12);
  }

  &-excerpt {
    grid-area: desc;
    @extend %font-ui-body-md;
    margin-bottom: rem(12);
  }

  .post-meta__date {
    grid-area: date;
  }

  /* stylelint-disable-next-line */
  .a2a_kit {
    display: flex;
    grid-area: social-share;
    justify-content: center;
    margin: 0 0 rem(32) 0;

    @include breakpoint(large) {
      justify-content: flex-end;
    }
  }

  .post-block__img {
    position: relative;
    grid-area: right-content;
    align-self: end;
    margin-bottom: rem(-40);

    img {
      width: 100%;
      height: 300px;
    }
  }

  &-location {
    @extend %font-ui-text-md;
    // grid-area: right-content;
  }

  &-time {
    // grid-area: right-content;
  }

  &-date {
    // grid-area: right-content;
  }

}
