@use 'abstracts' as *;

.post-block--post {
  --meta-categories: #{$color-primary-green-300};
  --aspect-ratio: #{4/3};

  $post: '.post-block';

  display: grid;
  grid-template-areas:
    'img'
    'category'
    'title'
    'date'
    'excerpt';
  grid-template-columns: 1fr;
  margin-right: auto;
  margin-left: auto;

  @include breakpoint('small') {
    grid-template-areas:
      'img category'
      'img title'
      'img date'
      'img excerpt';
    grid-template-columns: max-content minmax(min-content, 680px);
    grid-template-rows: max-content max-content max-content auto;
    width: fit-content;
    column-gap: rem(32);
  }

  @include breakpoint('large') {
    column-gap: rem(40);
  }

  #{$post}__category {
    grid-area: category;
    @extend %font-ui-text-sm;
  }

  #{$post}__title {
    grid-area: title;
    margin-bottom: rem(8px);
  }

  #{$post}__img {
    display: block;
    grid-area: img;
    align-self: start;
    margin-bottom: rem(24);

    @include breakpoint('small') {
      margin-bottom: 0;
    }

    img {
      aspect-ratio: var(--aspect-ratio);
      --img-size: 150px;
      width: var(--img-size, 200px);
      // height: var(--img-size, 200px);
      margin: 0 auto;
      object-fit: cover;
      object-position: center center;

      @include breakpoint('medium') {
        --img-size: 280px;
      }
    }
  }

  #{$post}__excerpt {
    grid-area: excerpt;
  }

  .post-meta__date {
    grid-area: date;
    margin-bottom: rem(16);
  }
}
