@use 'abstracts' as *;

.post-block--post {
  --meta-categories: #{$color-primary-green-300};

  $post: '.post-block';

  display: grid;
  grid-template-areas:
    'img'
    'category'
    'title'
    'date'
    'excerpt';
  grid-template-columns: 1fr;
  margin-right: auto;
  margin-left: auto;

  @include breakpoint('small') {
    grid-template-areas:
      'img category'
      'img title'
      'img date'
      'img excerpt';
    grid-template-columns: 25% minmax(min-content, 680px);
    grid-template-rows: max-content max-content max-content auto;
    width: fit-content;
    column-gap: rem(32);
  }

  @include breakpoint('large') {
    column-gap: rem(40);
  }

  #{$post}__category {
    grid-area: category;
    @extend %font-ui-text-sm;
  }

  #{$post}__title {
    grid-area: title;
    margin-bottom: rem(8px);
  }

  #{$post}__img {
    display: block;
    grid-area: img;
    margin-bottom: rem(24);

    @include breakpoint('small') {
      margin-bottom: 0;
    }

    img {
      width: auto;
      height: 100%;
      margin: 0 auto;
      object-fit: cover;

      // @include breakpoint('small') {
      //   width: 105.5px;
      //   height: 105.5px;
      // }

      // @include breakpoint('small') {
      //   width: 140px;
      //   height: 140px;
      // }

      // @include breakpoint('large') {
      //   width: 225px;
      //   height: 225px;
      // }

      // @include breakpoint('xlarge') {
      //   width: 236px;
      //   height: 236px;
      // }
    }
  }

  #{$post}__excerpt {
    grid-area: excerpt;
  }

  .post-meta__date {
    grid-area: date;
    margin-bottom: rem(16);
  }
}
