@use 'abstracts' as *;
@use 'post-block-post';
@use 'post-block-resource-library';

.post-block {
  + .post-block {
    margin-top: rem(56);
  }

  &__title {
    margin-bottom: rem(8px);
    color: $color-black-100;
    @extend %font-ui-headline-lg;
    text-decoration: underline;

    &:hover {
      color: $color-primary-blue-200;
      text-decoration: none;
    }
  }

  &__excerpt {
    color: $color-black-190;
    @extend %font-ui-body-md;
  }

  .post-meta__date {
    margin-bottom: rem(16);
  }
}
