@use 'abstracts' as *;

/* stylelint-disable-next-line */
.addtoany_list {
  display: flex !important;
  flex-wrap: wrap;
  align-items: center;

  a {
    display: flex !important;
    align-items: center;
    color: var(--icon-fill);

    &:first-of-type {
      margin-left: -4px;
    }

    + a {
      margin-left: 3px;
    }

    &:hover {
      --icon-fill: var(--icon-fill-hover);
      color: var(--icon-fill-hover);

      img {
        opacity: 1 !important;
      }
    }

    &:focus {
      outline: 1px solid var(--icon-fill);
    }

    img {
      filter: var(--icon-fill);
      transition: filter 0.3s ease-in-out;
    }
  }

  /* stylelint-disable-next-line */
  .a2a_svg {
    padding: 2px;
    border-radius: 50% !important;
    transition: background 0.3s ease-in-out;
  }

  /* stylelint-disable */
  .a2a_button_twitter {
    margin-left: rem(5px);
  }
  /* stylelint-enable */

  /* stylelint-disable */
  .a2a_button_print {
    margin-left: rem(7px);
  }
  /* stylelint-enable */

  /* stylelint-disable */
  .a2a_button_linkedin,
  .a2a_button_copy_link {
    transform: scale(0.9);
  }
  /* stylelint-enable */

  .single__header & {
    --icon-fill: invert(100%) opacity(0.7);
    --icon-fill-hover: invert(100%) opacity(1) #{$shadow--3};
  }

  .single__footer & {
    --icon-fill: invert(36%) sepia(36%) saturate(1770%) hue-rotate(143deg)
      brightness(95%) contrast(99%);
    --icon-fill-hover: invert(22%) sepia(46%) saturate(1699%) hue-rotate(150deg)
      brightness(98%) contrast(104%) #{$shadow--3};
    margin-top: rem(48);
    margin-bottom: rem(16);

    @include breakpoint('small') {
      width: fit-content;
      margin-right: auto;
      margin-left: auto;
    }

    &::before {
      content: 'Share';
      margin-right: rem(12);
      color: $color-black-140;
      @extend %font-ui-text-sm;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}
