@use 'abstracts' as *;

/* stylelint-disable-next-line */
.addtoany_list {
  display: flex !important;
  flex-wrap: wrap;
  align-items: center;

  a {
    display: flex !important;
    align-items: center;
    color: var(--icon-fill);

    &:first-of-type {
      margin-left: -4px;
    }

    &:hover {
      color: var(--icon-fill-hover);

      span {
        opacity: 1 !important;
      }

      svg {
        filter: $shadow--3;
      }
    }

    &:focus {
      outline: 1px solid var(--icon-fill);
    }

    svg {
      filter: transition 0.3s ease-in-out;
    }

    path {
      transition: fill 0.3s ease-in-out;
      fill: currentColor !important;
    }
  }

  /* stylelint-disable-next-line */
  .a2a_svg {
    padding: 2px;
    border-radius: 50% !important;
    transition: background 0.3s ease-in-out;
  }

  /* stylelint-disable-next-line */
  .a2a_button_youtube {
    position: relative;
    top: 3px;
  }

  .single__header & {
    --icon-fill: #{$color-white-170};
    --icon-fill-hover: #{$color-white-100};
  }

  .single__footer & {
    --icon-fill: #{$color-primary-blue-400};
    --icon-fill-hover: #{$color-primary-blue-200};
    margin-bottom: rem(16);

    @include breakpoint('small') {
      width: fit-content;
      margin-right: auto;
      margin-left: auto;
    }

    @include breakpoint('large') {
      margin-top: rem(32);
    }

    &::before {
      content: 'Share';
      margin-right: rem(12);
      color: $color-black-140;
      @extend %font-ui-text-sm;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}
